{% extends 'base/index.html' %}

{% block title %}Home{{ super() }}{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Toilter</h1>
    <p>This is a simple gossip page that speaks obviously of the life of others</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Light Gossip</h2>
      <p>
        Bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Average Gossip</h2>
      <p>
        Bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heavy Gossip</h2>
      <p>
        Bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla
        bla bla bla bla bla bla bla bla bla bla.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
