{% extends 'base/index.html' %}

{% block title %}Register{{ super() }}{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning">
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
<form action="" method="POST" class="form-signin jumbotron col-md-5 col-md-offset-4" style="margin-left: auto; margin-right: auto">
  {{
    form.csrf_token
  }}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning">
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <h1 class="h3 mb-3 font-weight-normal">Register</h1>
  <label class="sr-only">Name</label>
  {{
    form.name(id='inputName', class="form-control", placeholder="Name")
  }}
  <label class="sr-only">Username</label>
  {{
    form.username(id='inputUsername', class="form-control", placeholder="Username")
  }}
  <label for="inputPassword" class="sr-only">Password</label>
  {{
    form.password(id='inputPassword', class="form-control", placeholder="Password")
  }}
  <label for="inputEmail" class="sr-only">Email</label>
  {{
    form.email(id="inputEmail", class="form-control", placeholder="Email")
  }}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
{% endblock %}
